@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
      　　ホーム
  ==============================================================*/
  .home {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    color: rgb(2, 27, 21);
    background: var(--color-white);
    font-family: "Noto Sans JP", sans-serif;
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    max-height: 90px;
    box-sizing: border-box;
    padding: 16px 16px 16px 20px;
    background: var(--color-white);
    transition: box-shadow 0.25s ease;
  }

  .home-header.is-scrolled {
    box-shadow: rgba(2, 27, 21, 0.18) 0px 8px 22px;
  }

  .home-header__menu {
    display: flex;
  }

  .home-header__brand-logo img {
    width: 40px;
    height: 40px;
    margin-bottom: -4px;
  }

  .home-header__brand-logo img:hover {
    cursor: pointer;
  }

  /* ボタン */
  .home-header__menu .home__btn {
    width: 130px;
    text-align: center;
    padding: 0 14px;
  }

  .home-header__menu .home__btn.sp-none {
    display: none;
  }

  .home__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 50px;
    text-decoration: none;
    letter-spacing: 0.05em;
  }

  .home__btn:hover {
    cursor: pointer !important;
  }

  .home-main .home__btn.sp-none {
    display: none;
  }

  .home-main .home__btn.sp-only {
    margin-top: 36px;
  }

  .home__btn--primary {
    font-size: 12.5px;
    color: var(--color-white);
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

  .home__btn--primary:hover {
    background: var(--color-accent-hover);
  }

  .home__btn--ghost {
    font-size: 13.5px;
    color: #021b15;
    background: transparent;
    max-width: 95px;
    padding: 12px 0 !important;
  }

  .home-main {
    text-align: center;
  }

  .home-main-inner {
    padding: 40px 0 0;
  }

  .home-title {
    font-size: 28px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 16px;
  }

  .home-lead {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #021b15;
    line-height: 2.1;
    margin-bottom: 32px;
    padding: 0 24px;
  }

  .home-main .home__btn {
    padding: 20px 40px;
    font-size: 15px;
  }

  /*=========== ホームヒーロー ===========*/
  .home-hero {
    position: relative;
    width: 100%;
    height: 100%;
    margin: -20px auto 0;
  }

  .home-hero__image {
    overflow: hidden;
    width: 100%;
    height: 530px;
    margin: 0;
    margin-top: 40px;
  }

  .home-hero__img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: 100% 0%;
    margin-right: 0px;
  }

  .home-hero-card {
    background: var(--color-white);
    border-radius: 16px;
    text-align: left;
    box-shadow: 5px 5px 10px 0 rgba(94, 94, 94, 0.5);
  }

  .home-hero-card p {
    margin: 0;
    line-height: 1.75;
    letter-spacing: 0.05em;
  }

  /* ユーザー */
  .home-hero__user-info {
    position: absolute;
    top: 6px;
    left: -20px;
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    column-gap: 9px;
    padding: 12px 20px 14px 14px;
    width: fit-content;
    transform: scale(0.7);
  }

  .home .user-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .home .user-name {
    font-size: 13px;
    margin: 0;
  }

  .home .user-text {
    font-size: 10px;
    font-weight: 400;
    color: #949495;
  }

  /* 動画 */
  .home-hero__video {
    position: absolute;
    top: 114px;
    right: 14px;
    aspect-ratio: 16 / 9;
    width: 130px;
    height: 73.13px;
    overflow: hidden;
  }

  .video-bg {
    width: 120%;
    height: 120%;
    object-fit: cover;
    margin-top: 7px;
    margin-left: -10px;
    transform: translateY(-50%);
  }

  .video-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    z-index: 10;
  }

  /* サービス内容 */
  .home-hero__service {
    transform: scale(0.55);
    padding: 20px 20px 0;
    max-width: 260px;
  }

  .home-service-01 {
    position: absolute;
    top: 100px;
    right: -60px;
    display: none;
  }

  .home-service-02 {
    position: absolute;
    top: 230px;
    right: -60px;
    display: none;

  }

  .home-service-03 {
    position: absolute;
    left: -60px;
    top: 220px;
  }

  /* サービスリスト */
  .service-item {
    margin-bottom: 26px;
  }

  .service-item__text {
    font-size: 14px;
    font-weight: 500;
  }

  .service-item__text .emoji {
    position: relative;
    top: 1px;
    left: 1px;
    font-size: 18px;
  }

  .home-notes {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.8;
    margin-top: 26px;
  }

  /*==========================================================
      　　問題・悩み
  ==============================================================*/
  .home-worry {
    margin-top: 80px;
  }

  .home .sec-title {
    font-size: 26px;
    line-height: 1.6;
    padding: 0 16px;
  }

  .home .sec-title .color {
    color: #FC0D0D;
  }

  .worry-box {
    position: relative;
    margin: -8px 16px 0;
    max-width: 1000px;
    min-height: 350px;
  }

  .worry-item {
    width: fit-content;
    padding: 18px 24px;
    background: #949495;
    border-radius: 8px;
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-align: left;
    opacity: 0;
    transition: opacity .6s ease, transform .6s ease;
  }

  /* 表示時 */
  .worry-item.is-show {
    opacity: 1;
    transform: translateY(0);
  }

  .worry-item.item-01 {
    position: absolute;
    top: 10px;
    left: 0px;
    background: #fdf9f1;
    transition-delay: 1s;
    margin-left: 20px;
  }

  .worry-item.item-02 {
    position: absolute;
    top: 50px;
    left: 0px;
    background: #fce9c5;
    transition-delay: 2.5s;
    margin-right: 30px;
  }

  .worry-item.item-03 {
    position: absolute;
    top: 95px;
    left: 0px;
    background: #e2e9fa;
    transition-delay: 4s;
    margin-right: 10px;
    margin-left: 20px;
  }

  .worry-item.item-04 {
    position: absolute;
    top: 140px;
    left: 0px;
    background: #fdf9f1;
    transition-delay: 5.5s;
    margin-right: 30px;
  }

  .worry-item.item-05 {
    position: absolute;
    top: 180px;
    left: 0px;
    background: #f7ebcf;
    transition-delay: 7s;
    margin-right: 10px;
    margin-left: 10px;
  }

  .worry-item.item-06 {
    position: absolute;
    top: 220px;
    left: 0px;
    background: #f1f4fd;
    transition-delay: 8.5s;
    margin-right: 20px;
  }

  .worry-item.item-07 {
    position: absolute;
    top: 108px;
    left: 0;
    background: #FC0D0D;
    color: var(--color-white);
    transition-delay: 10s;
    margin-right: 30px;
    margin-left: 30px;
    padding: 18px 24px;
    font-size: 19px;
    line-height: 1.8;
  }

  /*==========================================================
      　　特徴
  ==============================================================*/
  .home-feature {
    margin-top: 20px;
    min-height: 400px;
    padding-bottom: 40px;
  }

  .feature_box {
    padding: 0 24px;
    margin-top: 36px;
  }

  .feature_item {
    display: grid;
    grid-template-areas:
      "icon title"
      ". text";
    grid-template-columns: 44px 1fr;
    text-align: left;
    align-items: center;
    margin-bottom: 32px;
    row-gap: 4px;
    letter-spacing: 0.04em;
  }

  /* アイコン */
  .feature_item__icon {
    grid-area: icon;
    margin: 0;
    font-size: 27px;
  }

  .item-01 .feature_item__icon {
    position: relative;
    top: -1px;
  }

  .item-02 .feature_item__icon {
    font-size: 31px;
    position: relative;
    top: -4px;
    right: -2px;
  }

  .item-03 .feature_item__icon {
    position: relative;
    right: -2px;
  }

  .item-04 .feature_item__icon {
    position: relative;
    right: -1px;
  }

  .item-05 .feature_item__icon {
    position: relative;
    top: -4px;
    right: -2px;
  }

  .item-06 .feature_item__icon {
    position: relative;
    top: -1.5px;
    right: -4px;
  }

  .feature_item__title {
    grid-area: title;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .feature_item__text {
    grid-area: text;
    margin: 0;
    line-height: 1.8;
    font-size: 14px;
  }

  /* コピー */
  .home-copy {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 24px 0;
    margin: 0;
  }

  /*==========================================================
      　　画像
  ==============================================================*/
  .home-bg {
    position: relative;
    width: 100%;
    height: 390px;
    overflow: hidden;
  }

  .home-bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 34% 50%;
    filter: brightness(50%);
  }

  .home-bg__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 26px;
    line-height: 1.6;
    margin: 0;
    color: var(--color-white);
  }

  /*==========================================================
      　　比較
  ==============================================================*/
  .home-comparison {
    padding: 26px 0;
  }

  .home-comparison__table-wrap--pc {
    display: none;
  }

  .home-comparison__table-wrap {
    overflow-x: auto;
    box-sizing: border-box;
    max-width: 980px;
    margin: 0 16px;
    font-size: 15.5px;
  }

  .home-comparison__table-wrap .border {
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    /* min-width: 1000px; */
    min-width: 880px;
  }

  .home-comparison__table {
    border-collapse: collapse;
    /* min-width: 1000px; */
    min-width: 880px;
    border: none !important;
    border-spacing: 0;
  }

  /* スクロールヒント */
  .scroll-hint-icon-wrap {
    z-index: 20 !important;
  }

  .scroll-hint-text {
    z-index: 20 !important;
  }

  .scroll-hint-shadow-wrap::before,
  .scroll-hint-shadow-wrap::after {
    display: none;
  }

  /* 列幅 */
  /* .home-comparison__col-category {
    width: 90px;
    font-size: 16.5px;
    border-top: none !important;
  } */

  /* .home-comparison__table-wrap--sp .table-category {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 2;
    box-shadow:
    1px 0 0 #e5e7eb,
    0 1px 0 #e5e7eb;
  } */

  .home-comparison__col-service {
    /* width: 200px; */
    width: fit-content;
  }

  .home-comparison__col-service:nth-of-type(1) {
    width: 300px;
  }

  /* セル */
  .home-comparison__table th{
    padding: 16px 24px;
    text-align: left;
  }

  .home-comparison__table td {
    position: relative;
    border-left: 1px solid #e5e7eb;
    /* padding: 12px 24px 19px; */
    padding: 16px 24px 16px 55px;
    text-align: left;
    line-height: 1.8;
    font-size: 15.3px;
  }

  .home-comparison__table td:nth-of-type(1) {
    border-left: none;
  }

  .home-comparison__table .none-content,
  .home-comparison__table .border-bottom th,
  .home-comparison__table .border-bottom td {
    border-bottom: 1px solid #e5e7eb;
  }

  /* 左の項目 */
  /* .home-comparison__table .table-category {
    text-align: center;
    font-weight: 600;
  } */

  /* ヘッダー */
  .table-title-box th {
    font-size: 19px;
    font-weight: 500;
    padding: 24px 30px;
  }

  /* 各サービス */
  .table-title__gym {
    background: #f7ebcf;
    color: #785400;
  }

  .table-title__sns {
    background: #fdf9f1;
    color: #312f14;
    border-radius: 0 10px 0 0;
  }

  .table-title__10k {
    background: #f1f4fd;
    color: #0967ff;
    border-radius: 10px 0 0 0;
  }

  /* アイコン */
  .home-comparison__table svg {
    width: 25.5px;
    height: 25.5px;
    /* position: relative;
    top: 6.5px;
    margin-right: 6px; */
    position: absolute;
    top: 16.5px;
    left: 20px;
  }

  .home-comparison__table .td-bottom svg {
    top: 30px;
  }

  .icon--bad {
    color: #FC0D0D;
  }

  .icon--good {
    color: #74C66D;
  }

  .icon--neutral {
    color: #FCE106;
    transform: rotate(-90deg);
  }

  /*==========================================================
      　　ctaセクション
  ==============================================================*/
  .home-cta {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 520px;
    background-image: linear-gradient(#1685f8 40%, #065dde);
    margin-top: 60px;
  }

  .home-cta__grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 40px 40px;
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.2;
  }

  .home-cta__belt {
    position: absolute;
    width: auto;
    bottom: -4px;
    right: -40px;
    height: 234px;
    opacity: 0.5;
  }

  .home-cta__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: -82px;
  }

  .home-cta__title {
    margin: 0;
    padding: 0 16px;
    font-size: 30px;
    line-height: 1.6;
    color: var(--color-white);
  }

  .home-cta .home__btn {
    background: var(--color-white);
    color: var(--color-accent);
    margin-top: 32px;
  }


}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
      　　TB_ホーム
  ==============================================================*/
  .home-header {
    padding: 16px 40px;
  }

  .home-header__brand-logo img {
    width: 52px;
    height: 52px;
  }

  /* ボタン */
  .home-header__menu .home__btn {
    width: auto;
    text-align: left;
    padding: 16px 24px;
  }

  .home-main .home__btn.sp-only,
  .home-header__menu .home__btn.sp-only {
    display: none;
  }

  .home-header__menu .home__btn.sp-none {
    display: block;
  }

  .home-main .home__btn.sp-none {
    display: block;
    display: inline-flex;
  }

  .home__btn--primary {
    font-size: 14px;
  }

  .home__btn--ghost {
    font-size: 14px;
    max-width: none;
    margin-right: 8px;
    padding: 14px 20px !important;
  }

  .home-main-inner {
    padding: 50px 0 0;
  }

  .home-title {
    font-size: 36px;
    padding: 0 40px;
    line-height: 1.6;
    margin-bottom: 26px;
  }

  .home-lead {
    line-height: 2.1;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .home-main .home__btn {
    font-size: 16px;
  }

  /*=========== ホームヒーロー ===========*/
  .home-hero {
    margin: 20px auto 0;
  }

  .home-hero__image {
    height: 670px;
    margin: 0;
  }

  .home-hero__img {
    width: 70%;
    height: 100%;
    margin-right: -80px;
  }

  /* ユーザー */
  .home-hero__user-info {
    transform: scale(0.8);
    left: 10px;
    grid-template-columns: 42px 1fr;
    column-gap: 18px;
    padding: 16px 36px 20px 20px;
  }

  .home .user-icon {
    width: 42px;
    height: 42px;
  }

  .home .user-name {
    font-size: 16px;
  }

  .home .user-text {
    font-size: 12px;
  }

  /* 動画 */
  .home-hero__video {
    top: 100px;
    right: 50px;
    width: 220px;
    height: 123.75px;
  }

  .video-bg {
    margin-top: 26px;
  }

  .video-icon {
    width: 40px;
    height: 40px;
  }

  /* サービス内容 */
  .home-hero__service {
    transform: scale(0.75);
    max-width: none;
    width: fit-content;
    padding: 30px 24px 10px 24px;
    height: fit-content;
  }

  .home-service-01 {
    display: block;
    top: 240px;
    left: 20px;
  }

  .home-service-02 {
    display: block;
    top: auto;
    right: auto;
    left: -40px;
    bottom: 110px;
  }

  .home-service-03 {
    top: 300px;
    left: auto;
    right: -34px;
  }

  .service-item__text {
    font-size: 15px;
  }

  .home-notes {
    margin: 28px 0 20px;
  }


  /*==========================================================
      　　TB_問題・悩み
  ==============================================================*/
  .home .sec-title {
    font-size: 36px;
    padding: 0 40px;
  }

  .home-worry {
    margin-top: 120px;
  }

  .home-worry .home-lead {
    margin-top: -4px;
  }

  .worry-box {
    margin: 40px 40px 0;
  }

  .worry-item {
    font-size: 20px;
  }

  .worry-item.item-01 {
    top: 10px;
    left: 20px;
    margin: 0;
  }

  .worry-item.item-02 {
    top: 60px;
    left: auto;
    right: 20px;
    margin: 0;
    transition-delay: 2s;
  }

  .worry-item.item-03 {
    top: 80px;
    left: 80px;
    margin: 0;
    transition-delay: 3s;
  }

  .worry-item.item-04 {
    top: 140px;
    left: auto;
    right: 20px;
    margin: 0;
    transition-delay: 4s;
  }

  .worry-item.item-05 {
    top: 160px;
    left: 40px;
    margin: 0;
    transition-delay: 5s;
  }

  .worry-item.item-06 {
    top: 220px;
    left: auto;
    right: 60px;
    margin: 0;
    transition-delay: 6s;
  }

  .worry-item.item-07 {
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    padding: 22px 36px;
    margin: 0;
    transition-delay: 7s;
  }

  /*==========================================================
      　　TB_特徴
  ==============================================================*/
  .home-feature {
    margin-top: 70px;
    padding-bottom: 128px;
  }

  .feature_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    margin-top: 64px;
    row-gap: 8px;
  }

  .feature_item {
    text-align: center;
    grid-template-areas:
      "icon"
      "title"
      "text";
    grid-template-columns: 1fr;
    grid-template-rows: 77px auto auto;
  }

  /* アイコン */
  .feature_item__icon {
    font-size: 56px;
    max-height: 77px;
    transform: scale(0.8);
  }

  .item-01 .feature_item__icon {
    font-size: 52px;
  }

  .item-02 .feature_item__icon {
    font-size: 58px;
    top: -8px;
  }

  .item-03 .feature_item__icon {
    font-size: 52px;
  }

  .feature_item__title {
    font-size: 22px;
    margin-top: 10px;
  }

  .feature_item__text {
    font-size: 16px;
    line-height: 1.9;
    margin-top: 8px;
  }

  /*==========================================================
      　　TB_画像
  ==============================================================*/
  .home-bg {
    height: 505px;
  }

  .home-bg__title {
    font-size: 38px;
    line-height: 1.8;
  }

  /*==========================================================
      　　TB_比較
  ==============================================================*/
  .home-comparison {
    padding-top: 100px;
  }

  .home-comparison .home-lead {
    margin-top: -4px;
  }

  .home-comparison__table-wrap {
    margin: 64px 40px 0;
  }

  .home-comparison__table-wrap .border {
    min-width: 940px;
  }

  .home-comparison__table {
    min-width: 940px;
  }

  .home-comparison__col-service:nth-of-type(1) {
    width: 370px;
  }

  /* ヘッダー */
  .table-title-box th {
    font-size: 19.5px;
    line-height: 1.1;
  }

  .home-comparison__table .td-bottom svg {
    top: 16.5px;
  }

  /*==========================================================
      　　TB_ctaセクション
  ==============================================================*/
  .home-cta {
    margin-top: 96px;
    height: 500px;
  }

  .home-cta__belt {
    bottom: auto;
    right: auto;
    top: -80px;
    left: -160px;
    height: 670px;
    opacity: 0.4;
  }

  .home-cta__inner {
    margin-top: -20px;
  }

  .home-cta__title {
    font-size: 38px;
  }

  .home-cta .home__btn {
    margin-top: 40px;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
      　　PC_ホーム
  ==============================================================*/
  .home-header__brand-logo img {
    width: 57px;
    height: 57px;
  }

  .home-main-inner {
    padding: 60px 0 0;
  }

  .home-title {
    font-size: 46px;
    margin-bottom: 32px;
  }

  .home-lead {
    font-size: 18px;
    line-height: 2.3;
    margin-top: 16px;
  }

  /*=========== ホームヒーロー ===========*/
  .home-hero {
    margin: 0 auto;
  }

  .home-hero__img {
    width: 50%;
  }

  /* ユーザー */
  .home-hero__user-info {
    transform: scale(0.9);
    position: absolute;
    top: 20px;
    left: 140px;
  }

  /* 動画 */
  .home-hero__video {
    position: absolute;
    max-width: 280px;
    top: 100px;
    right: 100px;
    width: 280px;
    height: 157.5px;
  }

  .video-bg {
    margin-top: 50px;
  }

  /* サービス内容 */
  .home-hero__service {
    transform: scale(0.8);
  }

  .home-service-01 {
    top: 240px;
    left: 20px;
  }

  .home-service-02 {
    left: 10px;
    bottom: 100px;
  }

  .home-service-03 {
    top: 380px;
    right: -30px;
  }

  .home-notes {
    font-size: 13px;
    margin: 32px 0 20px;
  }

  .home-copy {
    font-size: 12.6px;
    padding: 30px 0;
  }

  /*==========================================================
      　　PC_問題・悩み
  ==============================================================*/
  .home .sec-title {
    font-size: 38px;
  }

  .worry-box {
    margin: 60px auto 0;
  }

  .worry-item {
    font-size: 22px;
  }

  .worry-item.item-01 {
    top: 10px;
    left: 80px;
  }

  .worry-item.item-02 {
    top: 60px;
    left: auto;
    right: 80px;
  }

  .worry-item.item-03 {
    top: 80px;
    left: 80px;
  }

  .worry-item.item-04 {
    top: 140px;
    left: auto;
    right: 160px;
  }

  .worry-item.item-05 {
    top: 180px;
    left: 130px;
  }

  .worry-item.item-06 {
    top: 220px;
    left: auto;
    right: 90px;
  }

  .worry-item.item-07 {
    white-space: nowrap;
    font-size: 26px;
    padding: 24px 40px;
  }

  /*==========================================================
      　　PC_特徴
  ==============================================================*/
  .home-feature {
    padding-bottom: 90px;
  }

  .feature_box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 64px;
    row-gap: 8px;
    max-width: 1000px;
    margin: 80px auto 40px;
  }

  /* アイコン */
  .item-02 .feature_item__icon {
    font-size: 58px;
    top: -12px;
  }

  /*==========================================================
      　　PC_画像
  ==============================================================*/
  .home-bg {
    height: 505px;
  }

  .home-bg__img {
    width: 115%;
    height: 115%;
    object-position: 34% 100%;
  }

  .home-bg__title {
    font-size: 42px;
    line-height: 1.8;
  }

  /*==========================================================
      　　PC_比較
  ==============================================================*/
  .home-comparison {
    padding-top: 110px;
  }

  .home-comparison__table-wrap--sp {
    display: none;
  }

  .home-comparison__table-wrap--pc {
    display: block;
  }

  .home-comparison__table-wrap {
    overflow-x: visible;
    max-width: 1121px;
    margin: 64px auto 0;
    font-size: 16px;
  }
  .home-comparison__table-wrap .border {
    min-width: 1120px;
  }

  .home-comparison__table {
    min-width: 1120px;
  }

  /* 列幅 */
  /* .home-comparison__col-category {
    width: 130px;
  } */

  .home-comparison__col-service:nth-of-type(1) {
    width: auto;
  }

  .home-comparison__col-service:nth-of-type(3) {
    width: 430px;
  }

  .home-comparison__table td {
    font-size: 16px;
    padding: 16px 24px 16px 62px;
  }

  /* ヘッダー */
  .table-title-box th {
    line-height: 1.2;
  }

  /* 各サービス */
  .table-title__gym {
    border-radius: 10px 0 0 0;
  }

  .table-title__sns {
    border-radius: 0;
  }

  .table-title__10k {
    border-radius: 0 10px 0 0;
  }

  /* アイコン */
  .home-comparison__table svg {
    top: 18px;
    left: 25.5px;
  }

  /*==========================================================
      　　PC_ctaセクション
  ==============================================================*/
  .home-cta {
    margin-top: 110px;
    height: 510px;
  }

  .home-cta__belt {
    bottom: auto;
    right: auto;
    top: -85px;
    height: 690px;
  }

  .home-cta__inner {
    margin-top: -8px;
  }

  .home-cta__title {
    font-size: 42px;
  }

}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
      　　PC-big_ホーム
  ==============================================================*/
  .home-main-inner {
    padding: 48px 0 0;
  }

  .home-title .pc-only {
    display: none;
  }

  .home-title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .home-lead {
    margin-top: 18px;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 28px;
  }

  /*=========== ホームヒーロー ===========*/
  .home-hero {
    aspect-ratio: 16 / 9;
    max-width: 1300px;
    margin: 16px auto 32px;
  }

  .home-hero__image {
    position: absolute;
    left: 160px;
    bottom: 0;
    width: 1100px;
    height: 740px;
  }

  .home-hero__img {
    width: 58%;
    object-fit: cover;
    margin: 0;
    object-position: 0% 0%;
  }

  /* ユーザー */
  .home-hero__user-info {
    grid-template-columns: 60px 1fr;
    column-gap: 18px;
    padding: 20px 36px 24px 20px;
    transform: scale(0.9);
  }

  .home .user-icon {
    width: 58px;
    height: 58px;
  }

  .home .user-name {
    font-size: 18px;
    margin: 0;
  }

  .home .user-text {
    font-size: 14px;
  }

  /* 動画 */
  .home-hero__video {
    max-width: 360px;
    margin: 0;
    top: 120px;
    right: 20px;
    width: 360px;
    height: 202.5px;
  }

  .video-bg {
    margin-top: 60px;
  }

  .video-icon {
    width: 48px;
    height: 48px;
  }

  /* サービス内容 */
  .home-hero__service {
    transform: scale(1);
    position: absolute;
    max-width: none;
    padding: 20px 24px 22px;
    margin: 0;
  }

  .service-item {
    margin: 0;
  }

  .home-service-02 {
    left: 10px;
    bottom: 180px;
  }

  .home-service-03 {
    top: 420px;
    right: -80px;
  }

  .service-item__text {
    font-size: 15px;
  }

  .home-notes {
    margin: 1em 0;
  }

  /*==========================================================
      　　PC-big_問題・悩み
  ==============================================================*/
  .home-worry {
    margin-top: 130px;
  }

  .home .sec-title {
    font-size: 42px;
    line-height: 1.6;
  }

  .home-worry .home-lead {
    margin-top: -16px;
    margin-bottom: 16px;
    line-height: 2.2;
  }

  .worry-box {
    margin: 40px auto 0;
  }

  .worry-item {
    font-size: 22px;
  }

  .worry-item.item-01 {
    top: 10px;
    left: 20px;
  }

  .worry-item.item-02 {
    top: 60px;
    left: auto;
    right: 20px;
  }

  .worry-item.item-03 {
    top: 80px;
    left: 80px;
  }

  .worry-item.item-04 {
    top: 140px;
    left: auto;
    right: 60px;
  }

  .worry-item.item-05 {
    top: 180px;
    left: 60px;
  }

  .worry-item.item-06 {
    top: 230px;
    left: auto;
    right: 90px;
  }

  .worry-item.item-07 {
    top: 100px;
  }

  /*==========================================================
      　　PC-big_特徴
  ==============================================================*/
  .home-feature {
  margin-top: 90px;
  min-height: 600px;
  }

  .feature_box {
    max-width: 1300px;
    margin-top: 100px;
    row-gap: 20px;
  }

  /* アイコン */
  .feature_item__icon {
    transform: scale(0.9);
  }

  .feature_item__title {
    font-size: 22.5px;
    letter-spacing: 0.06em;
    margin-top: 8px;
  }

  .feature_item__text {
    font-size: 16px;
    line-height: 1.9;
    margin-top: 12px;
  }

  /*==========================================================
      　　PC-big_画像
  ==============================================================*/
  .home-bg__img {
    width: 100%;
    height: 100%;
    object-position: 34% 66%;
  }

  .home-bg__title {
    font-size: 44px;
    line-height: 1.8;
  }

  /*==========================================================
      　　PC-big_比較
  ==============================================================*/
  .home-comparison .home-lead {
    margin-top: -16px;
    margin-bottom: 16px;
    line-height: 2.2;
  }

  .home-comparison__table-wrap {
    max-width: 1200px;
    margin-top: 60px;
  }
  .home-comparison__table-wrap .border {
    min-width: 1200px;
  }

  .home-comparison__table {
    max-width: 1200px;
  }

  .home-comparison__col-service:nth-of-type(1),
  .home-comparison__col-service:nth-of-type(2) {
    width: 380px;
  }

  .home-comparison__col-service:nth-of-type(3) {
    width: 440px;
  }

  .table-title-box th {
    font-size: 20px;
  }

  /* .home-comparison__table td {
    font-size: 16px;
    padding: 16px 24px 16px 55px;
  } */

  /*==========================================================
      　　PC-big_ctaセクション
  ==============================================================*/
  .home-cta {
    height: 584px;
    margin-top: 100px;
  }

  .home-cta__grid {
    background-size: 50px 50px;
  }

  .home-cta__belt {
    top: -100px;
    height: 780px;
  }

  .home-cta__inner {
    margin-top: -10px;
  }

  .home-cta__title {
    font-size: 48px;
    line-height: 1.8;
  }

  .home-cta .home__btn {
    margin-top: 72px;
    margin-top: 48px;
    padding: 18px 38px;
    border: solid 1.2px var(--color-white);
    transition: background-color 0.2s ease,
              color 0.2s ease;
  }

  .home-cta .home__btn:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }


}