<%# フィード右列（著作権・Reddit の右カラム相当・合計幅 1120px の一部） %>
<aside class="requests-feed-aside requests-feed-aside--fixed" aria-label="サイト情報">
  <p class="requests-feed-aside__text">Re:RANGE ©2026. All reserved.</p>
</aside>
