<div class="requests-page-content request-index">

  <!-- ヘッダー -->
  <%= render "shared/header" %>

  <div class="layout">
  <% if current_user.member? || current_user.trainer? %>
    <% sidebar_partial = current_user.member? ? "member_sidebar" : "trainer_sidebar" %>

    <div class="layout__inner">
      <%= render sidebar_partial %>

      <div class="layout__main">
        <div class="layout__main-inner">
          <div class="requests-list-index">
            <%= render "requests/feed_list" %>
          </div>
          <div class="requests-feed-aside-spacer" aria-hidden="true"></div>
        </div>
        <%= render "shared/requests_feed_aside" %>
      </div>
    </div>
  <% end %>
  <div>
</div>

