/* 全体の基本設定。body、文字、背景色、リンク、リセット系、共通カラーなど。 */
:root {
  --color-accent: #0967ff;
  --color-accent-hover: #2878fa;
  --accent-color-soft: rgba(9, 103, 255, 0.08);
  --color-black: #000000;
  --color-white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  .sp-none,
  .tb-only,
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  .sp-only,
  .tb-none {
    display: none;
  }

  .sp-none,
  .tb-only {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  .pc-none,
  .tb-only {
    display: none;
  }

  .tb-none,
  .pc-only {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
}